<!--
File Name: index.html
Date: 03/04/2017
Programmer: Jim Medlock
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="author" content="Jim Medlock">
    <meta name="subject" content="Timestamp Microservice">
    <meta name="datecreated" content="20170122">
    <meta name="datereviewed" content="20170122">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DBDesign - Mongo &amp; Mongoose Demonstration</title>

    <!-- ALL CSS GOES IN THE META HEAD SECTION -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css" integrity="sha256-uHu2MAd1LvCOVEAhvMld4LpJi7dUGS7GVzvG/5B3hlo=" crossorigin="anonymous" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <!-- favicons! -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="./favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="./favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="./favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="./favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="./favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="./favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="./favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="./favicon/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="./favicon/favicon-196x196.png" sizes="196x196" />
    <link rel="icon" type="image/png" href="./favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="./favicon/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="./favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="./favicon/favicon-128.png" sizes="128x128" />
    <meta name="application-name" content="&nbsp;"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="./favicon/mstile-144x144.png" />
    <meta name="msapplication-square70x70logo" content="./favicon/mstile-70x70.png" />
    <meta name="msapplication-square150x150logo" content="./favicon/mstile-150x150.png" />
    <meta name="msapplication-wide310x150logo" content="./favicon/mstile-310x150.png" />
    <meta name="msapplication-square310x310logo" content="./favicon/mstile-310x310.png" />
</head>

<body>
   <!-- Main webpage body -->
   <div class="container-fluid">
      <h1>Setup Database Log</h1>
      <div class="log-area">
        <ul class"log-list">
        </ul>
      </div>
   </div> <!-- end main webpage body -->

   <!-- ALL JAVASCRIPT LINKS GOES RIGHT BEFORE THE ENDING BODY TAG -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
